{% extends 'base.html.twig' %}

{% trans_default_domain 'LSVAppBundle' %}

{% if 'create' == form_type %}
    {% set active_parent = 'classroom_adm' %}
    {% set active = 'classroom_create' %}
{% else %}
    {% set active_parent = 'classroom' %}
    {% set active = 'classroom_' ~ classroom.id %}
{% endif %}

{% block title %}
    {{ (form_type == 'edit') ? classroom.label ~ ' -' }} {{ (form_type == 'create') ? 'label.add.classroom'|trans : 'label.edit.classroom'|trans }} -
{% endblock %}

{% block page_title %}
    <i class="fa fa-graduation-cap"></i>
    {{ (form_type == 'create') ? 'label.add.classroom'|trans : 'label.edit.classroom'|trans }}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        <div class="box btn-color-classroom">
            <div class="box-header with-border">
                <h3 class="box-title">
                    {{ form_widget(form.label) }}
                    {{ form_errors(form.label) }}
                </h3>
            </div>

            <div class="box-body">

                <div class="col-md-12">
                    <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                        <ul id="color-chooser" class="fc-color-picker">
                            <li><a href="#" class="text-aqua"><i class="fa fa-square"></i></a></li>
                            <li><a href="#" class="text-blue"><i class="fa fa-square"></i></a></li>
                            <li><a href="#" class="text-light-blue"><i class="fa fa-square"></i></a></li>
                            <li><a href="#" class="text-teal"><i class="fa fa-square"></i></a></li>
                            <li><a href="#" class="text-yellow"><i class="fa fa-square"></i></a></li>
                            <li><a href="#" class="text-orange"><i class="fa fa-square"></i></a></li>
                            <li><a href="#" class="text-green"><i class="fa fa-square"></i></a></li>
                            <li><a href="#" class="text-lime"><i class="fa fa-square"></i></a></li>
                            <li><a href="#" class="text-purple"><i class="fa fa-square"></i></a></li>
                            <li><a href="#" class="text-fuchsia"><i class="fa fa-square"></i></a></li>
                            <li><a href="#" class="text-default"><i class="fa fa-square"></i></a></li>
                            <li><a href="#" class="text-navy"><i class="fa fa-square"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-12">
                    {{ form_widget(form.color, {'attr': {'class': 'color-classroom'}}) }}
                    {{ form_errors(form.color) }}
                    <a href="#" class="add-student btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-plus"></span>
                        {{ 'label.add.student'|trans }}
                    </a>
                    <div class="row">
                        <ul id="student" class="list-group list-group-unbordered">
                            {% for student in form.students %}
                                <li id="student{{ loop.index }}-fieldset" class="list-group-item col-md-12">
                                    <strong class="text-muted">#{{ loop.index }}</strong>
                                    <span class="col-md-12">
                                        {{ include('LSVAppBundle:Form:studentsPrototype.html.twig', { 'form': student }) }}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                        <div id="app_classroom_students" data-prototype="{% filter escape %}{{ include('LSVAppBundle:Form:studentsPrototype.html.twig', { 'form': form.students.vars.prototype }) }}{% endfilter %}"></div>

                        {{ form_row(form.students, {'label_attr': {'class': 'hide'}}) }}
                    </div>
                    <a href="#" class="add-student btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-plus"></span>
                        {{ 'label.add.student'|trans }}
                    </a>
                </div>
            </div>
            <div class="box-footer">
                {{ form_widget(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {

            // Address logic
            var nbForm = parseInt('{{ form.students|length }}');

            $('.add-student').on('click', function() {

                var prototype = $('#app_classroom_students').attr('data-prototype');
                ++nbForm;
                var studentContainer = '<li id="student' + nbForm + '-fieldset" class="list-group-item col-md-12 alert"><button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button><strong class="text-muted">#' + nbForm + '</strong><span class="col-md-12"></span></li>';

                var newForm = prototype.replace(/__name__/g, nbForm);
                newForm = $(studentContainer).append(newForm);
                newForm.appendTo($('#student'));

                return false;
            });
        });

        {% if 'create' == form_type %}
            var currColor = "#f39c12";
        {% else %}
            var currColor = "{{ form.vars.value.color }}";
        {% endif %}

        //Color chooser button
        var colorChooser = $("#color-chooser-btn");
        $("#color-chooser > li > a").click(function (e) {
            e.preventDefault();
            //Save color
            currColor = $(this).css("color");
            //Add color effect to button
            $('.btn-color-classroom').css({"border-color": currColor});
            $('.color-classroom').val(currColor);
        });
        $('.btn-color-classroom').css({"border-color": currColor});
        $('.color-classroom').val(currColor);
    </script>
{% endblock %}
