{% set active = _active %}

<ul class="treeview-menu">
    {% for classroom in classrooms %}
        <li class="{{ active == 'classroom_' ~ classroom.id ? 'active' }}">
            <a href="{{ path('classroom_show', { 'id': classroom.id }) }}">
                <small style="color:{{ classroom.color }};">
                    <i class="fa fa-square"></i>
                </small>
                {{ classroom.label }}
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ path('classroom_create') }}">
                <i class="fa fa-graduation-cap"></i>
                <span>Créer une classe</span>
            </a>
        </li>
    {% endfor %}
</ul>
