{% extends 'base.html.twig' %}

{% trans_default_domain 'LSVAppBundle' %}

{% set active_parent = 'classroom' %}
{% set active = 'classroom_' ~ classroom.id %}

{% block title %}
    {{ classroom.label }} -
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    .sub-footer {
        border-top: 1px solid #E0E0E0;
        padding: 10px;
    }
    .nowrap {
        white-space: nowrap;
    }
    .btn-edit {
        display: none;
    }
    .hovering {
        background: #f5f5f5;
    }
    td.disabled {
        color: #999999;
    }
</style>
{% endblock %}

{% block page_title %}
    <i class="fa fa-graduation-cap"></i>
    {{ classroom.label }}
    <small>
        <span style="color:{{ classroom.color }};">
            <i class="fa fa-square"></i>
        </span>
    </small>
{% endblock %}

{% block content %}
    <div class="col-md-4">
        <div id="list-student" class="box box-default" style="border-color: #141f34">
            <div class="box-header with-border">
                <i class="fa fa-users"></i>
                <h3 class="box-title">{{ 'label.students'|trans }}</h3>
                <small>({{ classroom.students|length }})</small>
            </div>
            <div class="box-body">
                <div class="input-group input-group-sm">
                    <input class="form-control search" type="text" placeholder="Search ...">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <br>
                <ul class="list list-group list-group-unbordered">
                    {% for student in classroom.students %}
                        <li class="list-group-item">
                            <a class="btn btn-default btn-xs pull-right" href="{{ path('student_show', {'id': student.id}) }}">
                                <i class="fa fa-user"></i>
                            </a>
                            <a href="{{ path('student_show', {'id': student.id}) }}">
                                <span class="name">{{ student.fullname }}</span>
                            </a>
                        </li>
                    {% else %}
                        <div class="callout callout-warning">
                            <strong>
                                <i class="fa fa-exclamation-triangle"></i> {{ 'msg.warning.title'|trans }}
                            </strong>
                            {{ 'msg.noResultFound'|trans }}
                        </div>
                    {% endfor %}
                </ul>
            </div>
            <div class="box-footer">
                <ul class="pagination pagination-sm" style="margin: 0px;"></ul>
            </div>

        </div>
    </div>
    <div class="col-md-8">
        <div class="box" style="border-color: #50637f">
            <div class="box-header with-border">
                <i class="fa fa-list"></i>
                <h3 class="box-title">{{ 'label.last_exams'|trans }}</h3>
            </div>
            <div class="box-body">
                <ul class="list-group list-group-unbordered">
                    {% for exam in last_exams %}
                        <li class="list-group-item">
                            <small>
                                <strong>{{ exam.trimester.shortLabel }}</strong>
                            </small>
                            <a class="btn btn-default btn-xs pull-right" href="{{ path('exam_show', {'id': exam.id}) }}">
                                <i class="fa fa-external-link-square"></i>
                            </a> -
                            Le {{ exam.lesson.startDatetime|date('d/m/Y') }} -
                            <a href="{{ path('exam_show', {'id': exam.id}) }}">
                                {{ exam.title }}
                            </a>
                        </li>
                    {% else %}
                        <div class="callout callout-warning">
                            <strong>
                                <i class="fa fa-exclamation-triangle"></i> {{ 'msg.warning.title'|trans }}
                            </strong>
                            {{ 'msg.noResultFound'|trans }}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="box" style="border-color: #d5b388">
            <div class="box-header with-border">
                <i class="fa fa-list"></i>
                <h3 class="box-title">{{ 'label.nextLessons'|trans }}</h3>
            </div>
            <div class="box-body">
                <ul class="list-group list-group-unbordered">
                    {% for lesson in classroom.nextLessons %}
                        <li class="list-group-item">
                            <a class="btn btn-default btn-xs pull-right" href="{{ path('lesson_show', {'id': lesson.id}) }}">
                                <i class="fa fa-external-link-square"></i>
                            </a> -
                            Le {{ lesson.startDatetime|date('d/m/Y H:i') }} -
                            <a href="{{ path('lesson_show', {'id': lesson.id}) }}">
                                {{ lesson.title }}
                            </a>
                        </li>
                    {% else %}
                        <div class="callout callout-warning">
                            <strong>
                                <i class="fa fa-exclamation-triangle"></i> {{ 'msg.warning.title'|trans }}
                            </strong>
                            {{ 'msg.noResultFound'|trans }}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="box" style="border-color: #b28039">
            <div class="box-header with-border">
                <i class="fa fa-list-alt"></i>
                <h3 class="box-title">{{ 'label.councils'|trans }}</h3>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-council">
                    {% for classroomCouncil in classroom.classroomCouncils %}
                        <tr class="fullrow row{{ loop.index }}" data-id="{{ loop.index }}">
                            <th class="col-md-2 nowrap" rowspan="2">
                                {{ classroomCouncil.trimester.label }}<br>
                                <a class="btn btn-primary btn-xs btn-edit" href="{{ path('council_edit', { 'type': 'classroom', 'id': classroomCouncil.classroom.id, 'trimester_id': classroomCouncil.trimester.id }) }}">
                                    Éditer la classe
                                </a><br>
                                <a class="btn btn-primary btn-xs btn-edit" href="{{ path('council_students_edit', { 'classroom_id': classroomCouncil.classroom.id, 'trimester_id': classroomCouncil.trimester.id }) }}">
                                    Éditer les étudiants
                                </a>
                            </th>
                            <td class="col-md-8 {{ (classroomCouncil.council.advice is null) ? 'disabled' }}">
                                {{ classroomCouncil.council.advice|default('default.noAdvice'|trans) }}
                            </td>
                            <td class="col-md-2">
                                <strong>{{ 'default.advice'|trans }}</strong>
                            </td>
                        </tr>
                        <tr class="fullrow row{{ loop.index }}" data-id="{{ loop.index }}">
                            <td class="{{ (classroomCouncil.council.userAdvice is null) ? 'disabled' }}">
                                {{ classroomCouncil.council.userAdvice|default('default.noUserAdvice'|trans) }}
                            </td>
                            <td>
                                <strong>{{ 'default.userAdvice'|trans }}</strong>
                            </td>
                        </tr>
                    {% else %}
                        <div class="callout callout-warning">
                            <strong>
                                <i class="fa fa-exclamation-triangle"></i> {{ 'msg.warning.title'|trans }}
                            </strong>
                            {{ 'msg.noResultFound'|trans }}
                        </div>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 sub-footer">
            {{ form_start(delete_form) }}
                <button class="btn-link text-red" onclick="return confirm('{{ 'label.delete.confirm_classroom'|trans }}')" type="submit">
                    {{ 'label.delete.classroom'|trans }}
                </button>
                <a class="text-primary" href="{{ path('classroom_edit', { 'id': classroom.id }) }}">
                    {{ 'label.edit.classroom'|trans }}
                </a>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="http://listjs.com/assets/javascripts/list.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.min.js"></script>

    <script type="text/javascript">
        var monkeyList = new List('list-student', {
            valueNames: ['name'],
            page: 12,
            plugins: [ ListPagination({
                innerWindow: 0,
                outerWindow: 0,
                left: 1,
                right: 1,
            }) ]
        });
        $(".fullrow").hover(function() {
            var id = this.getAttribute("data-id");
            $(".row" + id).addClass("hovering");
            $(this).find(".btn-edit").show();
        }).on("blur mouseleave", function() {
            var id = this.getAttribute("data-id");
            $(".row" + id).removeClass("hovering");
            $(".btn-edit").hide();
        });
    </script>
{% endblock %}
