{% extends 'unlogged.html.twig' %}

{% block title %}{{ status_code }} -{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .error-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 70vh;
            color: #FFF;
        }
        .error-wrapper div {
            margin: auto;
            text-align: center;
        }
        .error-wrapper .headline {
            font-size: 3em;
        }
        .error-wrapper p.statusCode,
        .error-wrapper p.message {
            font-size: 0.9em;
            color: #000;
            max-width: 90vh;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="error-wrapper">
        <div>
            <div class="login-logo">
                <h2 class="headline text-red"> {{ status_code }}</h2>
            </div>
            <div class="error-content">
                <h3><i class="fa fa-warning text-red"></i> Une erreur est survenue.</h3>
            </div>
            <br>
            <p>
                <a class="details" role="button" data-toggle="collapse" href="#details">
                    <i class="fa fa-caret-right rotate"></i> Détails
                </a>
                <div class="collapse" id="details">
                    <div class="well well-sm">
                        <p class="statusCode">Error {{ status_code }}</p>
                        <p class="message">{{ exception.message|nl2br|format_file_from_text }}</p>
                    </div>
                </div>
            </p>
            <p>
                <a href="{{ path('event_index') }}">
                    <i class="fa fa-home"></i> Retrouver la page d'accueil
                </a>
            </p>
        </div>
    </div>
    <script type="text/javascript">
        $(".details").click(function(){
            $(this).find(".rotate").toggleClass("fa-rotate-90");
        })
    </script>
{% endblock %}
