{% extends 'unlogged.html.twig' %}

{% block title %}{{ status_code }} -{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .error-wrapper {
            display: flex;
            flex-direction: column;
            min-height: 70vh;
            color: #FFF;
        }
        .error-wrapper div {
            margin: auto;
            text-align: center;
        }
        .error-wrapper .headline {
            font-size: 3em;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="error-wrapper">
        <div>
            <div class="login-logo">
                <h2 class="headline text-navy"> {{ status_code }}</h2>
            </div>
            <div class="error-content">
                <h3><i class="fa fa-warning text-navy"></i> Accès refusé. Vous devez vous authentifier.</h3>
            </div>
            <br>
            <p>
                <a href="{{ path('event_index') }}">
                    <i class="fa fa-home"></i> Retrouver la page d'accueil
                </a>
            </p>
        </div>
    </div>
{% endblock %}
