{% extends 'base.html.twig' %}

{% trans_default_domain 'LSVCouncilBundle' %}

{% set active_parent = 'classroom' %}
{% set active = 'classroom_' ~ classroom.id %}

{% block title %}
    Conseil - Étudiants - {{ classroom.label }} -
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="box" style="border-color:{{ classroom.color }};">
            {{ form_start(form) }}
            <div class="box-header with-border">
                <h2 class="box-title">
                    Conseil de classe - {{ classroom.label }}
                </h2>
            </div>
            <div class="box-body">
                <ul class="list-group list-group-unbordered">
                    {% for student in form.students %}
                        <li class="list-group-item col-sm-12">
                            <strong class="col-sm-12">{{ student.vars.value.fullname }}</strong>
                            {% for studentCouncil in student.studentCouncils if studentCouncil.vars.value.trimester.id == app.request.get("trimester_id") %}
                                <span class="col-sm-6">
                                    {{ form_row(studentCouncil.council.advice) }}
                                </span>
                                <span class="col-sm-6">
                                    {{ form_row(studentCouncil.council.userAdvice) }}
                                </span>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="box-footer">
                {{ form_widget(form.submit) }}
            </div>
            <span class="hide">{{ form_row(form) }}</span>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
