{% extends 'base.html.twig' %}

{% trans_default_domain 'LSVCouncilBundle' %}

{% set active_parent = 'classroom' %}
{% if 'classroom' == type %}
    {% set active = 'classroom_' ~ council.classroom.id %}
{% else %}
    {% set active = 'classroom_' ~ council.student.classroom.id %}
{% endif %}

{% block title %}
    {% if 'classroom' == type %}
        Conseil - {{ council.classroom.label }} -
    {% else %}
        Conseil - {{ council.student.label }} -
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="box" style="border-color:{{ ('classroom' == type) ? council.classroom.color }};">
            <div class="box-header with-border">
                <h2 class="box-title">
                    {% if 'classroom' == type %}
                        Classe de {{ council.classroom.label }}
                        {{ council.trimester.label }}
                    {% else %}
                        {{ council.student.fullname }}
                        {{ council.trimester.label }}
                    {% endif %}
                </h2>
            </div>
            {{ form_start(form) }}
                <div class="box-body">
                    {{ form_widget(form.council) }}
                </div>
                <div class="box-footer">
                    {{ form_widget(form.submit) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
