<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>{% block title %}{% endblock title %}ProfSoft</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('dist/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Font Awesome -->
    <link href="{{ asset('dist/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Ionicons -->
    <link href="{{ asset('dist/ionicons/css/ionicons.min.css') }}" rel="stylesheet" type="text/css">
    <!-- Theme style -->
    <link href="{{ asset('dist/adminlte/css/AdminLTE.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('dist/adminlte/css/skins/skin-lsv.min.css') }}" rel="stylesheet" type="text/css">

    <style type="text/css">
        label.required:before {
            content: '* ';
            color: red;
        }
    </style>

    {% block stylesheets %}{% endblock stylesheets %}

    <script type="text/javascript" src="{{ asset('dist/jquery/jquery.min.js') }}"></script>
</head>
<body class="hold-transition skin-lsv sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="{{ path('event_index') }}" class="logo">
                <span class="logo-mini"><b>P</b>S</span>
                <span class="logo-lg"><b>Prof</b>Soft</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-circle text-success"></i>
                                    <span>
                                        Mon compte <i class="fa fa-angle-down"></i>
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header" style="height:auto;">
                                        <p>
                                            <strong>
                                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                            </strong>
                                            <small>{{ app.user.email }}</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="row">
                                            <div class="col-xs-12 text-center">
                                                <a href="{{ path('fos_user_change_password') }}" class="btn btn-default btn-flat">
                                                    {{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /.row -->
                                    </li>
                                    <li class="user-footer">
                                        {# <div class="pull-left">
                                            <a href="{{ path('fos_user_profile_show') }}" class="btn btn-default btn-flat">
                                               <i class="fa fa-user-circle-o"></i> Profile
                                            </a>
                                        </div> #}
                                        <div class="pull-right">
                                            <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">
                                                <i class="fa fa-sign-out"></i> Déconnexion
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">

                {% set active_parent = active_parent|default('') %}
                {% set active = active|default('') %}

                {% set nav = {
                    gen: {
                        title: 'GÉNÉRAL',
                        links: {
                            0: {
                                id: 'event',
                                name: '<i class="fa fa-calendar"></i> <span>Calendrier</span>',
                                path: path('event_index'),
                                sublinks: null,
                            },
                            1: {
                                id: 'classroom',
                                name: '<i class="fa fa-graduation-cap"></i> <span>Classes</span> <i class="fa fa-angle-left pull-right"></i>',
                                path: null,
                                sublinks: null,
                                render: render(controller('LSVAppBundle:Classroom:index', { 'active': active }))
                            },
                        },
                    },
                    admin: {
                        title: 'ADMINISTRATION',
                        links: {
                            0: {
                                id: 'lesson_create',
                                name: '<i class="fa fa-book"></i> <span>Créer un cours</span>',
                                path: path('lesson_create'),
                                sublinks: null,
                            },
                            1: {
                                id: 'classroom_adm',
                                name: '<i class="fa fa-graduation-cap"></i> <span>Créer une classe</span>',
                                path: path('classroom_create'),
                                sublinks: null,
                            },
                        }
                    },
                } %}
                {% set active_parent = active_parent|default('') %}
                {% set active = active|default('') %}
                <ul class="sidebar-menu">
                    {% for item in nav %}
                        <li class="header">{{ item.title }}</li>
                        {% for link in item.links %}
                            <li class="treeview {{ active_parent == link.id ? 'active' }}">
                                <a href="{{ link.path ? link.path }}">
                                    {{ link.name|raw }}
                                </a>
                                {% if link.sublinks %}
                                    <ul class="treeview-menu">
                                        {% for sublink in link.sublinks %}
                                            <li class="{{ active == sublink.id ? 'active' }}">
                                                <a href="{{ sublink.path }}">
                                                    {{ sublink.name|raw }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                {% if link.render is defined %}
                                    {{ link.render|raw }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% set _block = block('page_title') %}
            {% if _block is not empty %}
                <!-- Content Header (Page header) -->
                <section class="content-header" style="padding-left: 30px;padding-right: 30px">
                    <h1>
                        {% block page_title %}{% endblock %}
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#">{{ block('page_title') }}</a></li>
                    </ol>
                </section>
            {% endif %}
            <div class="row">
                <!-- Main content -->
                <section class="content">
                    <div class="col-md-12" style="padding: 0px 30px">
                        {% for type, messages in app.session.flashbag.all() %}
                            {% for message in messages %}
                                <div class="alert alert-{{ type }} alert-dismissible">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                    <h4>
                                        {% if type == 'success' %}
                                            <i class="icon fa fa-check"></i> Succès!
                                        {% elseif type == 'danger' %}
                                            <i class="icon fa fa-check"></i> Erreur!
                                        {% elseif type == 'info' %}
                                            <i class="icon fa fa-info-circle"></i> Information
                                        {% elseif type == 'warning' %}
                                            <i class="icon fa fa-exclamation-triangle"></i> Attention!
                                        {% endif %}
                                    </h4>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {% block content %}{% endblock content %}
                    </div>
                </section>
            </div>
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>
                Copyright &copy; 2015-{{ ''|date('Y') }} <a href="https://bitbucket.org/pafltlechien/">PAFTL le chien</a>.
            </strong>
            Tous droits réservés.
        </footer>
    </div>
    <!-- ./wrapper -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script type="text/javascript" src="{{ asset('dist/bootstrap/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('dist/jquery-ui/jquery-ui.min.js') }}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script type="text/javascript">
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- AdminLTE App -->
    <script type="text/javascript" src="{{ asset('dist/adminlte/js/app.min.js') }}"></script>

    {% block javascripts %}{% endblock javascripts %}
</body>
</html>
