<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ asset('favicon.ico') }}">

    <title>{% block title %}{% endblock title %}ProfSoft</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/bootstrap/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/font-awesome/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/ionicons/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/adminlte/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/adminlte/css/skins/skin-lsv.min.css') }}">

    <style type="text/css">
        label.required:before {
            content: '* ';
            color: red;
        }
    </style>

    {% block stylesheets %}{% endblock %}

    <script type="text/javascript" src="{{ asset('dist/jquery/jquery.min.js') }}"></script>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        {% block content %}{% endblock %}
    </div>
    <!-- /.login-box -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script type="text/javascript" src="{{ asset('dist/bootstrap/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('dist/jquery-ui/jquery-ui.min.js') }}"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script type="text/javascript">
        $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- AdminLTE App -->
    <script type="text/javascript" src="{{ asset('dist/adminlte/js/app.min.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
