<span class="col-md-3">
    {{ form_label(form.lastname) }}
    {{ form_widget(form.lastname) }}
    {{ form_errors(form.lastname) }}
</span>
<span class="col-md-3">
    {{ form_label(form.firstname) }}
    {{ form_widget(form.firstname) }}
    {{ form_errors(form.firstname) }}
</span>
<span class="col-md-6">
    {{ form_label(form.birthdate) }}
    {{ form_widget(form.birthdate) }}
    {{ form_errors(form.birthdate) }}
</span>
