{% extends 'base.html.twig' %}

{% trans_default_domain 'LSVAppBundle' %}

{% set active_parent = 'student' %}
{% set active = 'student_index' %}

{% block page_title %}Administration{% endblock %}
{% block content %}
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Liste des classes</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Libelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for classroom in classrooms %}
                            <tr>
                                <td>
                                    <a href="{{ path('classroom_show', { 'id': classroom.id }) }}">
                                        {{ classroom.label }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
{% endblock %}
