{% extends 'base.html.twig' %}

{% trans_default_domain 'LSVAppBundle' %}

{% set active_parent = 'classroom' %}
{% set active = 'classroom_' ~ student.classroom.id %}

{% block title %}
    {{ student.fullname }} - {{ student.classroom.label }} -
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        .label {
            font-size: 0.85em;
        }
        .sub-footer {
            border-top: 1px solid #E0E0E0;
            padding: 10px;
        }
        td.disabled {
            color: #999999;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="box box-solid">
        <div class="box-header with-border text-center">
            <div class="col-xs-4">
                {% if adj_student.prev %}
                    <a class="btn btn-link" href="{{ path('student_show', {'id': adj_student.prev.id}) }}">
                        <i class="fa fa-chevron-left"></i> {{ adj_student.prev.fullname }}
                    </a>
                {% endif %}
            </div>
            <div class="col-xs-4">
                <a class="btn btn-link" href="{{ path('classroom_show', { 'id': student.classroom.id }) }}">
                    <i class="fa fa-chevron-up"></i> {{ student.classroom.label }} <i class="fa fa-chevron-up"></i>
                </a>
            </div>
            <div class="col-xs-4">
                {% if adj_student.next %}
                    <a class="btn btn-link" href="{{ path('student_show', {'id': adj_student.next.id}) }}">
                        {{ adj_student.next.fullname }} <i class="fa fa-chevron-right"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="box-header with-border">
            <h3 class="box-title" style="padding: 0px;font-size: 2em;">
                {{ student.fullname }}
                <small>{{ student.birth }}</small>
            </h3>
        </div>
        <div class="box-body">
            <div class="col-md-12">
                <p>
                    <span class="label label-default">{{ 'label.yearAverage'|trans }} : {{ student.average }}</span>
                </p>
            </div>
            <div class="col-md-12">
                {% for trimester in student.usedTrimesters %}
                    <div class="box box-primary box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ trimester.label }}</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            {% for studentCouncil in trimester.studentCouncils if studentCouncil.student == student and studentCouncil.trimester == trimester %}
                                <div class="col-md-12 ">
                                    <div class="well well-lg">
                                        <p>
                                            {{ 'label.average'|trans }} :
                                            <span class="label label-info">
                                                {{ studentCouncil.average }}
                                            </span>
                                        </p>
                                        <div class="col-md-6">
                                            <blockquote>
                                                <p>{{ 'label.advice'|trans }}</p>
                                                <small>{{ studentCouncil.council.advice|default('default.noAdvice'|trans) }}</small>
                                            </blockquote>
                                        </div>
                                        <div class="col-md-6">
                                            <blockquote>
                                                <p>{{ 'label.userAdvice'|trans }}</p>
                                                <small>{{ studentCouncil.council.userAdvice|default('default.noUserAdvice'|trans) }}</small>
                                            </blockquote>
                                        </div>
                                        <a href="{{ path('council_edit', { 'type': 'student', 'id': studentCouncil.student.id, 'trimester_id': studentCouncil.trimester.id }) }}" class="btn btn-primary btn-xs text-right">
                                            Editer
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="col-md-8">
                                <div class="box box-warning">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            Notes
                                        </h3>
                                    </div>
                                    <div class="box-body" style="height: 100%;">

                                        <div class="row">
                                            <div class="col-md-12">
                                                {% for result in student.examResults %}
                                                    {% if loop.first %}
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th>Date</th>
                                                                    <th>Contrôle</th>
                                                                    <th>Note</th>
                                                                    <th>Commentaire</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                    {% endif %}
                                                    {% if result.exam.trimester == trimester %}
                                                        <tr>
                                                            <td>
                                                                {{ result.exam.lesson.startDatetime|date('d/m/Y') }}
                                                            </td>
                                                            <td>
                                                                <a href="{{ path('exam_show', { 'id': result.exam.id }) }}">
                                                                    {{ result.exam.title }}
                                                                </a>
                                                            </td>
                                                            <td class="{{ (result.mark is null) ? 'disabled' }}">
                                                                {{ result.mark|default('Pas de note') }}
                                                            </td>
                                                            <td class="{{ (result.comment is null) ? 'disabled' }}">
                                                                {{ result.comment|default('Pas de commentaire') }}
                                                            </td>
                                                            <td>
                                                                <a href="{{ path('exam_show', { 'id': result.exam.id }) }}" class="btn btn-default btn-xs pull-right">
                                                                    <i class="fa fa-external-link-square"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                    {% if loop.last %}
                                                            </tbody>
                                                        </table>
                                                    {% endif %}
                                                {% else %}
                                                    <div class="callout callout-warning">
                                                        <strong>
                                                            <i class="fa fa-exclamation-triangle"></i> {{ 'msg.warning.title'|trans }}
                                                        </strong>
                                                        {{ 'msg.noResultFound'|trans }}
                                                    </div>
                                                {% endfor %}
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box box-danger">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">
                                            Compétences
                                        </h3>
                                        <div class="pull-right box-tools">
                                            <a class="btn btn-default btn-sm" href="{{ path('skill_edit', { 'student_id': student.id, 'trimester_id': trimester.id }) }}">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        {% for studentSkill in student.studentSkills if studentSkill.trimester == trimester %}
                                            <div class="col-md-12">
                                                <label>{{ studentSkill.skill.label }}</label>
                                                <input class="form-control" value="{{ studentSkill.level|default('Non noté') }}" type="text" disabled>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12 sub-footer">
            {{ form_start(delete_form) }}
                <button class="btn-link text-red" onclick='return confirm("{{ 'label.delete.confirm_student'|trans }}")' type="submit">
                    {{ 'label.delete.student'|trans }}
                </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
    </script>
{% endblock %}
