{% extends 'unlogged.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/plugins/iCheck/square/blue.css') }}">
    <style type="text/css">
        .login-logo {
            margin: -20px;
            margin-bottom: 20px;
            padding: 15px;
        }
        .login-logo > a,
        .login-logo > a:active,
        .login-logo > a:focus,
        .login-logo > a:hover,
        .login-logo > a:visited {
            color: #fff;
        }
        .login-box-body > form {
            padding: 15px;
        }
        .form-signin .form-signin-heading, .form-signin .checkbox {
            margin-bottom: 10px;
            font-weight: normal;
        }

    </style>
{% endblock %}

{% block content %}
{% include "@FOSUser/Resetting/request_content.html.twig" %}
{% endblock content %}
