{% trans_default_domain 'FOSUserBundle' %}

<div class="login-box-body">
    <div class="login-logo bg-skin-lsv">
        <a href="{{ path('event_index') }}">
            <b>Prof</b>Soft</a>
    </div>
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="form-group has-feedback">
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input class="form-control" type="text" id="username" name="username" required="required" />
        </div>
        <div class="form-group">
            <input class="btn btn-default btn-block btn-flat" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </form>
    <a href="{{ path('fos_user_security_login') }}">
        {{ 'security.login.submit'|trans }}
    </a><br>
    <a href="{{ path('fos_user_registration_register') }}" class="text-center">
        {{ 'registration.label'|trans({}, 'LSVUserBundle') }}
    </a>
</div>
<!-- /.login-box-body -->
