{% trans_default_domain 'FOSUserBundle' %}

<div class="login-box-body">
    <div class="login-logo bg-skin-lsv">
        <a href="{{ path('event_index') }}">
            <b>Prof</b>Soft</a>
    </div>
    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
        <div class="form-group">
            {{ form_row(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            <input class="btn btn-default btn-block btn-flat" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
</div>
