{% extends 'base.html.twig' %}

{% trans_default_domain 'LSVEventBundle' %}

{% set active_parent = 'event' %}
{% set active = 'event_index' %}

{% block title %}
    Calendrier -
{% endblock %}

{% block stylesheets %}
    <!-- fullCalendar -->
    <link rel="stylesheet" href="{{ asset('dist/fullcalendar/fullcalendar.min.css') }}">
{% endblock %}

{% block content %}
    <div class="hide alert alert-danger alert-dismissible">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <h4>
            <i class="icon fa fa-remove"></i> Erreur!
        </h4>
        Une erreur est survenue lors du chargement du calendrier.
    </div>
    <div class="box box-primary">
        {% include 'ADesignsCalendarBundle::calendar.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script type="text/javascript" src="{{ asset('dist/moment.js/moment-with-locales.js') }}"></script>
    <script type="text/javascript" src="{{ asset('dist/fullcalendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('dist/fullcalendar/fullcalendar.fr.js') }}"></script>

    <script type="text/javascript">
        $(function () {
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar-holder').fullCalendar({
                defaultView: 'agendaWeek',
                businessHours: {
                    start: '8:40',
                    end: '17:25',
                    dow: [ 1, 2, 3, 4, 5 ]
                },
                eventSources: [{
                    url: Routing.generate('event_fullcalendar_loader'),
                    type: 'POST',

                    error: function() {
                       $('.alert-danger').removeClass('hide');
                    },
                }],
                eventLimit: true,
                header: {
                    left: 'prev, next, today',
                    center: 'title',
                    right: 'month, agendaWeek, agendaDay'
                },
                dayClick: function(date, jsEvent, view, resourceObj) {
                    if (view.name == 'month' || view.name == 'basicWeek') {
                        $('#calendar-holder').fullCalendar('changeView', 'agendaDay');
                        $('#calendar-holder').fullCalendar('gotoDate', date);
                    }
                },
                eventRender: function (event, element) {
                    element.find('.fc-title').html(event.title);
                },
                lazyFetching: true,
                scrollTime: '08:00:00',
                minTime: '06:00:00',
            });
            var hei_nav = $( 'nav.navbar-static-top' ).outerHeight(true);
            var hei_footer = $( 'footer.main-footer' ).outerHeight(true);

            var height = $( window ).height();
            height = height - hei_nav - hei_footer - 50;
            $('#calendar-holder').fullCalendar('option', 'height', height);

        });
    </script>
{% endblock %}
