{% extends 'base.html.twig' %}

{% trans_default_domain 'LSVEventBundle' %}

{% if 'create' == form_type %}
    {% set active_parent = 'lesson_create' %}
    {% set active = 'lesson_create' %}
{% endif %}

{% block title %}
    {{ ('create' == form_type) ? 'layout.createLesson'|trans : 'layout.editLesson'|trans }} - {{ (form_type == 'edit') ? lesson.startDatetime|date('d/m/Y H:i') ~ ' -' }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/datetimepicker/datetimepicker.min.css') }}" />
{% endblock stylesheets %}

{% block content %}
    <div class="col-md-5">
        <div class="box box-default btn-color-lesson">
            {{ form_start(form) }}
                <div class="box-header with-border">
                    <i class="fa fa-book"></i>
                    <h3 class="box-title">
                        {{ ('create' == form_type) ? 'layout.createLesson'|trans : 'layout.editLesson'|trans }}
                    </h3>
                </div>
                <div class="box-body">

                    {{ form_row(form.title) }}
                    {{ form_row(form.startDatetime, {'attr': {'class': 'dateTimepicker'} }) }}
                    {{ form_row(form.recurrenceTo) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.classroom) }}

                </div>
                <div class="box-footer">
                    {{ form_widget(form.submit) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('dist/moment.js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('dist/datetimepicker/datetimepicker.full.min.js') }}"></script>
    <script type="text/javascript">
        $.datetimepicker.setLocale('fr');
        $('#event_lesson_recurrenceTo').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            dayOfWeekStart: 1,
            scrollInput: false,
        });
        $('.dateTimepicker').datetimepicker({
            format: 'd/m/Y H:i',
            allowTimes:[
                '08:40',
                '09:35',
                '10:45',
                '11:40',
                '12:35',
                '13:45',
                '14:40',
                '15:35',
                '16:30',
            ],
            dayOfWeekStart: 1,
            scrollInput: false,
        });

        {% if 'create' == form_type %}
            var currColor = "#f39c12";
        {% else %}
            var currColor = "{{ lesson.classroom.color }}";
        {% endif %}

        $('.btn-color-lesson').css({"border-color": currColor});
        $('.color-lesson').val(currColor);
    </script>
{% endblock %}
