{% extends 'base.html.twig' %}

{% trans_default_domain 'LSVEventBundle' %}

{% set active_parent = 'classroom' %}
{% set active = 'classroom_' ~ lesson.classroom.id %}

{% block title %}
    {{ 'form.lesson'|trans }} - {{ lesson.startDatetime|date('d/m/Y H:i') }} -
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    .sub-footer {
        border-top: 1px solid #E0E0E0;
        padding: 10px;
    }

</style>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <span><i class="fa fa-book"></i> {{ lesson.title }}</span>
                        <small style="display: inline;">
                            <a class="text-primary" href="{{ path('classroom_show', { 'id': lesson.classroom.id }) }}">
                                {{ lesson.classroom.label }}</a>
                        </small>
                        <small class="pull-right">
                            Le {{ lesson.startDatetime|date('d/m/Y') }} de {{ lesson.startDatetime|date('H:i') }} à {{ lesson.endDatetime|date('H:i') }}
                        </small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <div class="col-xs-12">
              <p class="text-muted well well-sm no-shadow">
                {{ lesson.description|default('Pas de description') }}
            </div>
            <p class="lead">Contrôle(s)</p>
            {% for exam in lesson.exams %}
                {% if loop.first %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Coef.</th>
                                <th>Trimestre</th>
                            </tr>
                        </thead>
                        <tbody>
                {% endif %}
                            <tr>
                                <td>
                                    <a href="{{ path('exam_show', { 'id': exam.id }) }}">
                                        {{ exam.title }}
                                    </a>
                                </td>
                                <td>{{ exam.coefficient }}</td>
                                <td>{{ exam.trimester.label }}</td>
                                <td class="text-right">
                                    <a href="{{ path('exam_show', { 'id': exam.id }) }}" class="btn btn-default btn-xs">
                                        <i class="fa fa-external-link-square"></i>
                                    </a>
                                </td>
                            </tr>
                {% if loop.last %}
                        </tbody>
                    </table>
                {% endif %}
            {% else %}
                <div class="alert alert-info alert-dismissible">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4>
                        <i class="icon fa fa-info-circle"></i> Information
                    </h4>
                    Pas de contrôles trouvés
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('lesson_exam', { 'id': lesson.id }) }}" class="btn btn-success pull-right" style="margin-right: 5px;">
                        Ajouter un contrôle
                    </a>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content -->
    <div class="col-md-12">
        <div class="col-md-12 sub-footer">
            {{ form_start(delete_form) }}
                <button class="btn-link text-red" onclick="return confirm('{{ 'label.delete.confirm_lesson'|trans }}')" type="submit">
                    {{ 'label.delete.lesson'|trans }}
                </button>
                <a class="text-primary" href="{{ path('lesson_edit', { 'id': lesson.id }) }}">
                    {{ 'label.edit.lesson'|trans }}
                </a>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
