{% extends 'base.html.twig' %}

{% trans_default_domain 'LSVCouncilBundle' %}

{% set active_parent = 'classroom' %}
{% set active = 'classroom_' ~ student.classroom.id %}

{% block title %}
    Compétences - {{ student.fullname }} -
{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="box">
            {{ form_start(form) }}
            <div class="box-header with-border">
                <h2 class="box-title">
                    Compétences - {{ student.fullname }}
                </h2>
            </div>
            <div class="box-body">
                <ul class="list-group list-group-unbordered">
                    {% for studentSkill in form.studentSkills if studentSkill.vars.value.trimester.id == app.request.get("trimester_id") %}
                        <li class="list-group-item col-sm-12">
                            <strong class="col-sm-12">{{ studentSkill.vars.value.skill.label }}</strong>
                            <span class="col-sm-6">
                                {{ form_widget(studentSkill.level) }}
                                {{ form_errors(studentSkill.level) }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="box-footer">
                {{ form_widget(form.submit) }}
            </div>
            <span class="hide">{{ form_row(form) }}</span>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
