{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{%- autoescape false -%}
{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{%- endautoescape -%}
{% endblock %}

{% block body_text %}
{% autoescape false %}
{{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}
{% block body_html %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}</title>
</head>
<body style="margin:0;padding:0;background-color:#d2d6de;font-family:'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;" yahoo>
    <div style="margin:0;padding:0">
        <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr height="32px"></tr>
                <tr align="center">
                    <td width="32px"></td>
                    <td>
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr height="16px"></tr>
                                <tr>
                                    <td>
                                        <table style="font-size:35px;text-align:center;font-weight:300;background-color:#807264;-webkit-font-smoothing:antialiased;border-top-left-radius:5px;border-top-right-radius:5px;" width="100%" cellspacing="0" cellpadding="0" border="0">
                                            <tbody>
                                                <tr>
                                                    <td height="32px"></td>
                                                </tr>
                                                <tr>
                                                    <a style="color:#ffffff;line-height:1.25" href="http://gestiondescours.alwaysdata.net">
                                                        <td style="color:#ffffff;line-height:1.25">
                                                            <b style="font-weight:700;">Prof</b>Soft
                                                        </td>
                                                    </a>
                                                </tr>
                                                <tr>
                                                    <td height="16px"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="min-width:332px;max-width:500px;border-bottom:1px solid #c0c0c0;border-bottom-left-radius:5px;border-bottom-right-radius:5px;background-color:#FAFAFA" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FAFAFA">
                                            <tbody>
                                                <tr>
                                                    <td style="white-space:pre;white-space:pre-wrap;white-space:pre-line;white-space:-pre-wrap;white-space:-o-pre-wrap;white-space:-moz-pre-wrap;white-space:-hp-pre-wrap;">
                                                        <table style="min-width:300px;width:100%;word-wrap:break-word;table-layout:fixed;" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width:90%;margin:auto;padding:0px 32px;font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5">
                                                                        {{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl})|nl2br }}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr height="32px"></tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr height="16px"></tr>
                                <tr>
                                    <td>
                                        <table style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#666666;line-height:1.5;">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Copyright &copy; 2015-2017 | <a href="http://gestiondescours.alwaysdata.net"><b style="font-weight:700;">Prof</b>Soft</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="32px"></td>
                </tr>
                <tr height="32px"></tr>
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock %}
