{% trans_default_domain 'FOSUserBundle' %}

<div class="login-box-body">
    <div class="login-logo bg-skin-lsv">
        <a href="{{ path('event_index') }}">
            <b>Prof</b>Soft</a>
    </div>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        <p class="login-box-msg">{{ 'registration.label'|trans({}, 'LSVUserBundle') }}</p>

        <div class="form-group has-feedback">
            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans} }) }}
            {{ form_errors(form.email) }}
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans} }) }}
            {{ form_errors(form.username) }}
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans} }) }}
            {{ form_errors(form.plainPassword.first) }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans} }) }}
            {{ form_errors(form.plainPassword.second) }}
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" class="btn btn-default btn-block btn-flat">{{ 'registration.submit'|trans }}</button>
            </div>
            <!-- /.col -->
        </div>
    {{ form_end(form) }}
    <br>
    <a href="{{ path('fos_user_security_login') }}">
        {{ 'security.login.submit'|trans }}
    </a>
</div>
