{% extends 'base.html.twig' %}

{% trans_default_domain 'LSVEventBundle' %}

{% if 'edit' == form_type %}
    {% set active_parent = 'classroom' %}
    {% set active = 'classroom_' ~ exam.lesson.classroom.id %}
{% endif %}

{% block title %}
    {{ ('create' == form_type) ? 'layout.createExam'|trans : 'layout.editExam'|trans }} - {{ (form_type == 'edit') ? exam.lesson.startDatetime|date('d/m/Y H:i') }} -
{% endblock %}

{% block content %}
    <div class="col-sm-10 col-md-6">
        <div class="box">
            {{ form_start(form) }}
                <div class="box-header with-border">
                    <h3 class="box-title">
                        {{ ('create' == form_type) ? 'layout.createExam'|trans : 'layout.editExam'|trans }} - {{ (form_type == 'edit') ? exam.lesson.startDatetime|date('d/m/Y H:i') }}
                    </h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.title, {'attr': {'class': 'form-control'} }) }}

                    {{ form_row(form.coefficient) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.trimester) }}

                </div>
                <div class="box-footer">
                    {{ form_widget(form.submit) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
