{% extends 'base.html.twig' %}

{% trans_default_domain 'LSVEventBundle' %}

{% set active_parent = 'classroom' %}
{% set active = 'classroom_' ~ exam.lesson.classroom.id %}

{% block title %}
    Édition des résultats du contrôle {{ exam.title }} -
{% endblock %}

{% block content %}
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">
                Édition des résultats du contrôle {{ exam.title }}
            </h3>
        </div>
        {{ form_start(form) }}
            <div class="box-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-2">Etudiant</th>
                            <th class="col-md-2">Note</th>
                            <th>Commentaire</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for examResult in form.examResults %}
                            <tr>
                                <td>
                                    {{ examResult.vars.value.student.fullname }}
                                </td>
                                <td>
                                    {{ form_widget(examResult.mark) }}
                                    {{ form_errors(examResult.mark) }}
                                </td>
                                <td>
                                    {{ form_widget(examResult.comment) }}
                                    {{ form_errors(examResult.comment) }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                {{ form_widget(form.submit) }}
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

