{% extends 'base.html.twig' %}

{% trans_default_domain 'LSVEventBundle' %}

{% set active_parent = 'classroom' %}
{% set active = 'classroom_' ~ exam.lesson.classroom.id %}

{% block title %}
    {{ 'form.exam'|trans }} - {{ exam.lesson.startDatetime|date('d/m/Y H:i') }} -
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    .sub-footer {
        border-top: 1px solid #E0E0E0;
        padding: 10px;
    }

</style>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <span>{{ exam.title }}</span>
                        <small style="display: inline;">
                            <a class="text-primary" href="{{ path('lesson_show', { 'id': exam.lesson.id }) }}">
                                {{ exam.lesson.title }}</a>
                        </small>
                        <small class="pull-right">
                            Le {{ exam.lesson.startDatetime|date('d/m/Y') }}
                        </small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <p class="text-muted well well-sm no-shadow">
                        {{ exam.description|default('Pas de description') }}
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-xs-6">
                    <div class="col-xs-12">
                        <b>{{ exam.trimester.label }}</b>
                    </div>
                    <div class="col-xs-12">
                        <b>Coef. :</b> {{ exam.coefficient }}
                    </div>
                    <div class="col-xs-12">
                        <b>Moyenne :</b> {{ exam.average }}
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <p class="lead">Résultat(s)</p>
            {% for result in exam.examResults %}
                {% if loop.first %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Etudiant</th>
                                <th>Note</th>
                                <th>Commentaire</th>
                            </tr>
                        </thead>
                        <tbody>
                {% endif %}
                    <tr>
                        <td>
                            <a href="{{ path('student_show', { 'id': result.student.id }) }}">
                                {{ result.student.fullname }}
                            </a>
                        </td>
                        <td class="{{ (result.mark is null) ? 'disabled' }}">
                            {{ result.mark|default('Pas de note') }}
                        </td>
                        <td class="{{ (result.comment is null) ? 'disabled' }}">
                            {{ result.comment|default('Pas de commentaire') }}
                        </td>
                        <td class="text-right">
                            <a href="{{ path('student_show', { 'id': result.student.id }) }}" class="btn btn-default btn-xs">
                                <i class="fa fa-user"></i>
                            </a>
                        </td>
                    </tr>
                {% if loop.last %}
                        </tbody>
                    </table>
                {% endif %}
            {% else %}
                <div class="alert alert-info alert-dismissible">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <h4>
                        <i class="icon fa fa-info-circle"></i> Information
                    </h4>
                    Pas de résultats trouvés
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-xs-12">
                    <a href="{{ path('exam_results', { 'id': exam.id }) }}" class="btn btn-success pull-right" style="margin-right: 5px;">
                        Ajouter/Éditer des notes
                    </a>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content -->
    <div class="col-md-12">
        <div class="col-md-12 sub-footer">
            {{ form_start(delete_form) }}
                <button class="btn-link text-red" onclick="return confirm('{{ 'label.delete.confirm_exam'|trans }}')" type="submit">
                    {{ 'label.delete.exam'|trans }}
                </button>
                <a class="text-primary" href="{{ path('exam_edit', { 'id': exam.id }) }}">
                    {{ 'label.edit.exam'|trans }}
                </a>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}

