{% extends 'unlogged.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('dist/plugins/iCheck/square/blue.css') }}">
    <style type="text/css">
        .login-logo {
            margin: -20px;
            margin-bottom: 20px;
            padding: 15px;
        }
        .login-logo > a,
        .login-logo > a:active,
        .login-logo > a:focus,
        .login-logo > a:hover,
        .login-logo > a:visited {
            color: #fff;
        }
        .login-box-body > form {
            padding: 15px;
        }
        .form-signin .form-signin-heading, .form-signin .checkbox {
            margin-bottom: 10px;
            font-weight: normal;
        }

    </style>
{% endblock %}

{% block content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock content %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('dist/plugins/iCheck/icheck.min.js') }}"></script>
    <script type="text/javascript">
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock %}
