{% trans_default_domain 'FOSUserBundle' %}


{% if error %}
    <div class="alert alert-danger alert-dismissible">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <strong>
            <i class="icon fa fa-remove"></i> {{ 'msg.error.title'|trans({}, 'LSVUserBundle') }}
        </strong>
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
<div class="login-box-body">
    <div class="login-logo bg-skin-lsv">
        <a href="{{ path('event_index') }}">
            <b>Prof</b>Soft</a>
    </div>
    <form class="form-signin" action="{{ path('fos_user_security_check') }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <div class="form-group has-feedback">
            <input type="text" id="username" class="form-control" name="_username" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" required="required" autofocus />
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                        {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-12">
                <button type="submit" id="_submit" class="btn btn-default btn-block btn-flat" name="_submit">
                    {{ 'security.login.submit'|trans }}
                </button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <a href="{{ path('fos_user_resetting_request') }}">
        {{ 'security.login.forgot'|trans({}, 'LSVUserBundle') }}
    </a><br>
    <a href="{{ path('fos_user_registration_register') }}" class="text-center">
        {{ 'registration.label'|trans({}, 'LSVUserBundle') }}
    </a>
</div>
<!-- /.login-box-body -->
